@import "~bootstrap";

/* @import "../../node_modules/bootstrap/dist/css/bootstrap.min.css" */

.border-bottom-black{
    border-bottom:1px solid black;
}
.border-top-black{
    border-top:1px solid black;
}
.border-white{
    background: white;
}

.blog-card:hover{
    background:rgb(220, 220, 220);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.)2;
}
